
<!-- <div class="bg-image">
  <img src="https://assets.pinshape.com/uploads/image/file/256299/pokemon-pokecenter-model-3d-printing-256299.png" alt="poke" width="500" height="600">
</div> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
  <input type="text" class='search' value = "" placeholder="Search.." (keyup)='onSearch($event)'>
  <!-- <button type="submit" class = "searchbuton"><i class="fa fa-search"></i></button> -->
</div>

<!-- <div class = "body">
<form class="form-inline active-cyan-4">
  <input class="form-control form-control-sm mr-3 w-75" (keyup)='onSearch($event)' type="text" placeholder="Search"
    aria-label="Search">
  <i class="fas fa-search active" aria-hidden="true"></i>
</form> -->

<img src = '{{ catchService.spriteImage}}' >

<p>{{ catchService.stringData }}</p>

<!-- </div> -->




